################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/**
/BlackSoil.Blazor.Client/bin/**
/BlackSoil.Blazor.Client/obj/**
/BlackSoil.Blazor.Server/bin/**
/BlackSoil.Blazor.Server/obj/**
/BlackSoil.Blazor.Shared/bin/**
/BlackSoil.Blazor.Shared/obj/**
/.vs
/obj/Debug
/BlackSoil.AspNet/bin/**
/BlackSoil.AspNet/obj/**
/obj/**